    * {
        padding: 0;
        margin: 0;
    }
    
    .name {
        text-align: center;
        margin-top: 10px;
        color: rgba(4, 76, 109, 0)
    }
    
    .form {
        display: flex;
        justify-content: center;
    }
    
    input {
        padding-top: 0px;
        padding-left: 0px;
        line-height: 1em;
    }
    
    .text_form {
        outline: none;
        border-radius: 8px;
        margin-top: 30px;
        height: 80px;
        width: 1000px;
    }
    
    .containet_input {
        display: flex;
        padding: 0 150px;
        justify-content: space-between;
    }
    
    .buton {
        color: green;
        font-size: 15px;
        height: 48px;
        width: 145px;
        overflow: hidden;
        text-align: center;
        line-height: 48px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    }
    
    .delete {
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
        line-height: 48px;
        color: red;
        width: 145px;
        height: 48px;
    }
    
    #text_next {
        font-family: 'Lobster', cursive;
        text-align: center;
        font-size: 45px;
        color: green;
    }
    
    .notes {
        margin-left: 5%;
        margin-top: 20px;
        color: rgb(0, 0, 0);
        font-size: 14px;
    }