    * {
        background-color: rgb(132, 132, 255);
        padding: 0;
        margin: 0;
    }
    
    .name {
        text-align: center;
        margin-top: 10px;
        color: rgba(4, 76, 109, 0)
    }
    
    .form {
        display: flex;
        justify-content: center;
    }
    
    input {
        padding-top: 0px;
        padding-left: 0px;
        line-height: 1em;
    }
    
    .text_form {
        outline: none;
        border-radius: 8px;
        margin-top: 30px;
        height: 80px;
        width: 1000px;
    }
    
    .containet_input {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .save {
        text-align: center;
        color: yellow;
        font-weight: 800;
        font-size: 15px;
        height: 48px;
        max-width: 145px;
        min-width: 100px;
        overflow: hidden;
        text-align: center;
        line-height: 48px;
        margin: 5px;
    }
    
    .delete {
        font-weight: 800;
        margin: 5px;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
        line-height: 48px;
        color: yellow;
        max-width: 145px;
        min-width: 70px;
        height: 48px;
    }
    
    #text_next {
        text-align: center;
        font-size: 45px;
        color: yellow
    }
    
    .notes {
        margin-left: 5%;
        margin-top: 20px;
        color: rgb(250, 225, 0);
        font-size: 19px;
        font-weight: 700;
    }